# Eclipse IDE: Archivos de configuracion
.classpath
.project
.settings/
.metadata/
.sonarlint
 
# Maven: Archivos compilados
target/
 
# Netbeans: Archivos de configuracion
nbactions.xml

Servers/
.recommenders/

# Proyectos propios

# Excluir todo lo contenido en la carpeta webapp menos la subcarpeta WEB-INF
caar-parent/caar-webapp/src/main/webapp/cache
caar-parent/caar-webapp/src/main/webapp/logs
caar-parent/caar-webapp/src/main/webapp/repositories
caar-parent/caar-webapp/src/main/webapp/tmp

# Excluir todo lo relativo a la instancia public para desarrollo local
caar-parent/caar-public-webapp
