@font-face {
  font-family: 'FreightDispBlack';
  src: url("../../fonts/FreightDispBlack.eot");
  src: url("../../fonts/FreightDispBlack.woff") format("woff"), url("../../fonts/FreightDispBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: bold; }

@font-face {
  font-family: 'FreightDispBlackItalic';
  src: url("../../fonts/FreightDispBlackItalic.eot");
  src: url("../../fonts/FreightDispBlackItalic.woff") format("woff"), url("../../fonts/FreightDispBlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'FreightTextBook';
  src: url("../../fonts/FreightTextBook.eot");
  src: url("../../fonts/FreightTextBook.woff") format("woff"), url("../../fonts/FreightTextBook.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'FreightTextBookItalic';
  src: url("../../fonts/FreightTextBookItalic.eot");
  src: url("../../fonts/FreightTextBookItalic.woff") format("woff"), url("../../fonts/FreightTextBookItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'National-Black';
  src: url("../../fonts/National-Black.eot");
  src: url("../../fonts/National-Black.woff") format("woff"), url("../../fonts/National-Black.otf") format("opentype"), url("../../fonts/National-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'National-BlackItalic';
  src: url("../../fonts/National-BlackItalic.eot");
  src: url("../../fonts/National-BlackItalic.woff") format("woff"), url("../../fonts/National-BlackItalic.otf") format("opentype"), url("../../fonts/National-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'National-Bold';
  src: url("../../fonts/National-Bold.eot");
  src: url("../../fonts/National-Bold.woff") format("woff"), url("../../fonts/National-Bold.otf") format("opentype"), url("../../fonts/National-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'National-BoldItalic';
  src: url("../../fonts/National-BoldItalic.eot");
  src: url("../../fonts/National-BoldItalic.woff") format("woff"), url("../../fonts/National-BoldItalic.otf") format("opentype"), url("../../fonts/National-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'National-Book';
  src: url("../../fonts/National-Book.eot");
  src: url("../../fonts/National-Book.woff") format("woff"), url("../../fonts/National-Book.otf") format("opentype"), url("../../fonts/National-Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'National-BookItalic';
  src: url("../../fonts/National-BookItalic.eot");
  src: url("../../fonts/National-BookItalic.woff") format("woff"), url("../../fonts/National-BookItalic.otf") format("opentype"), url("../../fonts/National-BookItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'National-Regular';
  src: url("../../fonts/National-Regular.eot");
  src: url("../../fonts/National-Regular.woff") format("woff"), url("../../fonts/National-Regular.otf") format("opentype"), url("../../fonts/National-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'National-RegularItalic';
  src: url("../../fonts/National-RegularItalic.eot");
  src: url("../../fonts/National-RegularItalic.woff") format("woff"), url("../../fonts/National-RegularItalic.otf") format("opentype"), url("../../fonts/National-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

/*Freight Display Font*/
/*National Font*/
.cmp-acerca-de-ae .header-comun {
  background-color: #D0021B;
  color: #fff; }
  .cmp-acerca-de-ae .header-comun .container .row h3 {
    margin-bottom: 20px; }

.cmp-acerca-de-ae .breadcrumb {
  background: transparent;
  margin-top: 10px;
  font-family: "National-Book", "Helvetica", "sans-serif";
  font-size: 22px;
  line-height: 1;
  letter-spacing: -0.2px; }
  .cmp-acerca-de-ae .breadcrumb li {
    text-transform: lowercase; }
    .cmp-acerca-de-ae .breadcrumb li a {
      text-decoration: none;
      color: #D0021B; }
    .cmp-acerca-de-ae .breadcrumb li:before {
      content: ">";
      color: #D0021B; }
    .cmp-acerca-de-ae .breadcrumb li:first-child:before {
      content: ""; }
    .cmp-acerca-de-ae .breadcrumb li.active {
      color: #D0021B;
      font-weight: bold; }
      .cmp-acerca-de-ae .breadcrumb li.active:before {
        font-weight: normal; }

.cmp-acerca-de-ae .info-acerca {
  font-family: "National-Book", "Helvetica", "sans-serif";
  font-size: 19px;
  text-align: left;
  font-weight: bold; }

.cmp-acerca-de-ae .video-img-acerca {
  overflow: hidden; }
  .cmp-acerca-de-ae .video-img-acerca iframe {
    width: 100%;
    height: 389px; }

.cmp-acerca-de-ae .separador {
  width: 90%;
  margin: 0 auto; }
  .cmp-acerca-de-ae .separador hr {
    border: 1px solid #9b9b9b; }

.cmp-acerca-de-ae .acordeon-acerca .panel {
  font-size: 14px;
  border: none;
  border-radius: 0;
  box-shadow: none; }
  .cmp-acerca-de-ae .acordeon-acerca .panel .panel-collapse {
    border: none; }
    .cmp-acerca-de-ae .acordeon-acerca .panel .panel-collapse .panel-body {
      border: none;
      background-color: #f9f7f3; }

.cmp-acerca-de-ae .acordeon-acerca .close-acordeon {
  border-bottom: 3px solid #D0021B; }

.cmp-acerca-de-ae .acordeon-acerca .panel-heading {
  background-color: transparent;
  border: none;
  font-size: 30px; }
  .cmp-acerca-de-ae .acordeon-acerca .panel-heading .panel-title {
    height: 30px; }
    .cmp-acerca-de-ae .acordeon-acerca .panel-heading .panel-title a {
      font-size: 25px; }
      .cmp-acerca-de-ae .acordeon-acerca .panel-heading .panel-title a .text {
        width: 80%;
        float: left; }
      .cmp-acerca-de-ae .acordeon-acerca .panel-heading .panel-title a .icon {
        width: 20%;
        float: left;
        font-size: 14px;
        text-align: right; }
        .cmp-acerca-de-ae .acordeon-acerca .panel-heading .panel-title a .icon i {
          padding: 5px;
          border: 1px solid #9b9b9b;
          border-radius: 50%;
          color: #9b9b9b;
          font-weight: normal; }

.cmp-acerca-de-ae .acordeon-acerca .sub-acordeon-acerca .panel-heading {
  background-color: #f9f7f3;
  border-bottom: 1px solid #979797; }
  .cmp-acerca-de-ae .acordeon-acerca .sub-acordeon-acerca .panel-heading div {
    font-size: 25px;
    cursor: pointer; }
    .cmp-acerca-de-ae .acordeon-acerca .sub-acordeon-acerca .panel-heading div .text {
      width: 80%;
      float: left; }
  .cmp-acerca-de-ae .acordeon-acerca .sub-acordeon-acerca .panel-heading .panel-title .icon-descargar {
    width: 20%;
    font-size: 16px;
    color: #607d8b;
    float: left;
    border: none;
    background: none; }
    .cmp-acerca-de-ae .acordeon-acerca .sub-acordeon-acerca .panel-heading .panel-title .icon-descargar i {
      color: #9b9b9b; }
  .cmp-acerca-de-ae .acordeon-acerca .sub-acordeon-acerca .panel-heading .panel-title :focus {
    outline: none; }
