@import '../../utilites/colors.scss';
@import '../../utilites/fonts-variables.scss';
* {
    margin: 0px;
    padding: 0px;
}
.cmp-menu {
    font-family: $NBook;
    /* Checkbox estilos */
    input {
        display: none;
    }
    label {
        display: inline-block;
        padding: 0 0 0 1em;
        cursor: pointer;
        margin-left: 10px;
    }
    .checkbox {}
    label:before {
        content: '';
        display: inline-block;
        background: transparent;
        position: absolute;
        left: 1px;
        top: 7px;
        height: 18px;
        width: 18px;
        margin-right: 10px;
        border-radius: 80%;
        box-sizing: border-box;
        border: 1px solid $blanco;
        transition: border 0.3s ease;
    }
    input:checked + label:before {
        border-color: $rojo;
        border-width: 4px;
        background-color: $blanco;
        box-shadow: 0 0 0px 1px #fff;
    }
    input + label {
        transition: color 0.7s ease;
    }
    .small-label:before {
        content: '';
        display: inline-block;
        background: transparent;
        position: absolute;
        left: 0;
        top: 14px;
        height: 13px;
        width: 12px;
        margin-right: 10px;
        border-radius: 80%;
        box-sizing: border-box;
        border: 1px solid $blanco;
        transition: border 0.3s ease;
    }
    input:checked + .small-label:before {
        border-color: $rojo;
        border-width: 2px;
        background-color: $blanco;
        box-shadow: 0 0 0px 1px #fff;
    }
    /* Submenus */
    .submenu-container {
        min-height: 400px;
        background-color: $rojo;
        padding: 20px;
        margin-top: -8000px;
        z-index: 9999;
        /* display: none; */
        .submenu {
            overflow: hidden;
            display: flex;
            min-height: 150px;
            display: none;
            width: 97%;
            .submenu-list {
                margin-left: 7%;
                height: auto;
                align-self: center;
            }
            /* Submenu buscador */
            .search-container {
                display: flex;
                width: 75%;
                border-bottom: 2px solid $blanco;
                height: 68px;
                margin: 0 auto;
                .form-search-icon {
                    width: 50px;
                    float: left;
                }
                .form-search {
                    width: 96%;
                    float: left;
                    padding-top: 12px;
                    .search-input {
                        display: inherit;
                        background-color: transparent;
                        border: none;
                        width: 100%;
                        margin-left: 30px;
                        height: 50px;
                        color: $blanco;
                        &:focus {
                            outline: 0px;
                        }
                    }
                    .search-input[placeholder] {
                        color: $blanco;
                        font-family: $NBook;
                        font-size: 34px;
                    }
                    *::-webkit-input-placeholder {
                        color: $blanco;
                    }
                    *:-moz-placeholder {
                        color: $blanco;
                    }
                    *::-moz-placeholder {
                        color: $blanco;
                    }
                    *:-ms-input-placeholder {
                        color: $blanco;
                    }
                }
            }
            .search-filter-container {
                display: flex;
                width: 75%;
                margin: 0 auto;
                padding-top: 60px;
                .search-for {
                    width: 24%;
                    border-right: 1px solid white;
                    padding-right: 50px;
                    .search-for-form {
                        margin-top: 30px;
                    }
                }
                .filter {
                    width: 82%;
                    padding-left: 50px;
                    .filter-form {
                        overflow: hidden;
                        margin-top: 20px;
                        .form-container {
                            float: left;
                            padding-right: 25px;
                            width: 33%;
                            .form-list {
                                padding-left: 30px;
                            }
                        }
                    }
                }
                .form-title {
                    font-family: $NBook;
                    font-size: 22px;
                    color: $blanco;
                }
                .search-form-item {
                    font-family: $NBook;
                    font-size: 17px;
                    color: $blanco;
                    padding: 7px 0px;
                }
            }
        }
        .submenu.search {
            display: inherit;
            padding: 50px 0px;
        }
        .submenu-link {
            float: left;
            font-size: 28px;
            padding: 0px 30px;
            a {
                color: $blanco;
                &:hover {
                    text-decoration: none;
                }
            }
            .menu-level3 {
                .level3-item {
                    font-size: 17px;
                    padding: 3px 0px;
                }
            }
        }
        /* Submenu Registro */
        .submenu.signin {
            display: flex;
            width: 75%;
            margin: 0 auto;
            .registro {
                width: auto;
                margin: 0 auto;
                height: 65px;
                align-self: center;
                .form-registro {
                    float: left;
                    margin-right: 20px;
                    .sign-in-input {
                        display: inherit;
                        float: left;
                        width: 333px;
                        height: 60px;
                        background-color: transparent;
                        border: 1px solid $blanco;
                        margin-right: 20px;
                        &:focus {
                            outline: 0px;
                        }
                    }
                    .sign-in-input[placeholder] {
                        display: inherit;
                        color: $blanco;
                        font-family: $NBook;
                        font-size: 22px;
                        padding-left: 20px;
                    }
                    *::-webkit-input-placeholder {
                        color: $blanco;
                    }
                    *:-moz-placeholder {
                        color: $blanco;
                    }
                    *::-moz-placeholder {
                        color: $blanco;
                    }
                    *:-ms-input-placeholder {
                        color: $blanco;
                    }
                    .sign-in-btn {
                        width: 114px;
                        height: 60px;
                        background-color: $blanco;
                        color: $rojo;
                        border: none;
                        font-size: 22px;
                    }
                }
                .registro-nuevo {
                    float: left;
                    .registro-texto {
                        font-size: 22px;
                        color: $blanco;
                        .registro-link {
                            color: $blanco;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .close-btn {
            font-size: 40px;
            color: $blanco;
            opacity: 1;
        }
    }
    .clicked {
        transition-duration: 300ms;
        transform: translate(0px, 0px);
        margin-top: -400px;
    }
    &.fixed-menu{
      .clicked {
            transition-duration: 300ms;
            transform: translate(0px, 0px);
            margin-top: 0px;
        }  
    }
    
    .col-sm-12.banner-menu {
        width: 100%;
        height: 410px;
        background-image: url('../../../img/banner-menu.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center bottom;
    }
    .menu-row {
        border-bottom: 1px solid $rojo;
        .main-container {
            width: 100%;
            margin: 0 auto;
            overflow: hidden;
            .col-sm-7.col-menu-list,
            .col-sm-3.col-menu-logos,
            .col-sm-2.col-menu-idioma {
                padding: 0px;
            }
            .col-sm-7.col-menu-list {
                width: 53%;
            }
            .col-sm-3.col-menu-logos {
                width: 35%;
            }
            .col-sm-2.col-menu-idioma {
                width: 12%;
            }
            .menu-list,
            .menu-logos {
                overflow: hidden;
                height: 65px;
                border-right: 1px solid $rojo;
                margin-bottom: 0px;
                .menu-item-logo {
                    float: left;
                    padding: 11px 0px;
                    /*  &:first-child {
              padding-left: 23px;
            }*/
                }
                .menu-item {
                    float: left;
                    .logo {
                        display: inline-block;
                        font-family: $NBold;
                        font-size: 50px;
                        color: $rojo;
                        padding: 0px 17px 15px 17px;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                    .menu-link {
                        color: $rojo;
                        padding: 17px;
                        display: inline-block;
                        font-size: 22px;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                    .active-item {
                        background-color: $rojo;
                        color: $blanco;
                    }
                }
            }
            .menu-logos {
                display: flex;
                justify-content: space-around;
            }
            .menu-idioma {
                height: 65px;
                float: left;
                margin: 0px;
                border-right: 1px solid $rojo;
                .menu-item-idioma {
                    text-align: center;
                    &:first-child {
                        border-bottom: 1px solid $rojo;
                    }
                    a {
                        color: $rojo;
                        display: block;
                        font-size: 22px;
                        padding: 5px 10px;
                        line-height: 22px;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
            .menu-icons {
                /* width: 80%;*/
                float: left;
                margin: 0px;
                .active-item {
                    background-color: $rojo;
                    color: $blanco;
                }
                .menu-item-icon {
                    float: left;
                    height: 65px;
                    display: flex;
                    justify-content: center;
                    padding: 0px 17px;
                    cursor: pointer;
                    &:first-child {
                        border-right: 1px solid $rojo;
                    }
                    .user-icon,
                    .search-icon {
                        color: $rojo;
                        width: 35px;
                        ;
                        &:hover {
                            color: $blanco;
                            text-decoration: none;
                        }
                    }
                    .menu-link {
                        display: flex;
                        align-self: center;
                    }
                }
            }
        }
    }
}
.fixed-menu {
    position: fixed;
    z-index: 99999;
    width: 100%;
    background: $blanco;
    top: 0;
}

/*MEDIAQUERIES*/

@media screen and (min-width: 1700px) {
    .cmp-menu {
        .menu-row {
            .main-container {
                width: 90%;
            }
        }
    }
}
