@import '../../utilites/colors.scss';
@import '../../utilites/fonts-variables.scss';
.cmp-footer {
  background-color: $rojo;
  padding: 35px 0px 56px 0px;
  .footer {
    .footer-title { 
      font-family: $NBold;
      color: $blanco;
      font-size: 15px;
      margin-bottom: 22px;
    }
    .footer-row {
      display: flex;
      justify-content: space-around;

      .col-sm-2.col-sm-offset-1.newsletter {
        margin-left: 0px;
        width: 20%;
      }
      .footer-nl-link {
        width: 100%;
        padding: 10px 10px 10px 0px;

        &:first-child {
          border: 1px solid $blanco;
          padding: 7px 10px;
        }
        .nl-link {
          display: inline-block;
          font-family: $NBook;
          color: $blanco;
          font-size: 22px;

          &:hover {
            text-decoration: none;
          }
        }
      }
      .footer-global-link {
        padding: 3px 0px;
        .global-link {
          font-family: $NBook;
          color: $blanco;
          font-size: 15px;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    .rrss-list {
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      width: 82px;
      .rrss-link {
        float: left;

        .rrss-icon {
          font-size: 22px;
          color: $blanco;
        }
      }
    }
    .colaboradores {
      margin-left: 30px;

      .footer-logos-list{
        display: flex;

        .logo-item{
          float: left;
          padding-right: 23px;
          align-self: baseline;

          .footer-logo{
            display: inline-block;
            vertical-align: bottom;
          }
        }
      }
    }
  }
}

/*MEDIAQUERIES*/

@media screen and (max-width: 768px) {
  .cmp-footer {
    .footer {
      .footer-row {
        display: inherit;
        .col-sm-2.col-sm-offset-1.newsletter {
          margin-left: 3.3%;
          width: 26.6%;
        }
      }
    }
  }
}
@media screen and (max-width: 415px) {
  .cmp-footer {
    .footer {
      .footer-row {
        .col-sm-2.col-sm-offset-1.newsletter {
          margin-left: 0px;
          width: 100%;
        }
      }
      .colaboradores {
        margin-left: 0px;
      }
    }
  }
}
