@import '../../utilites/colors.scss';
.cmp-banner-header {
    .active{
        display: block!important;
    }
    overflow: hidden;
    .contenedor-images-banner {
        color: $blanco;
        height: 400px;
        overflow: hidden;
        .contenedor-frases {
            .block-frase {
                display: none;
                position: relative;
                .image-banner {
                    width: 100%;
                }
                .block-contenido {
                    position: absolute;
                    top: 15%;
                    left: 2%;
                    max-width: 542px;
                    .title {
                        font-size: 55px;
                    }
                    .contenido {
                        div {
                            display: none;
                        }
                        .frase {
                            font-size: 35px;
                        }
                        .autor {
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }
}
/*MEDIAQUERIES*/

@media screen and (max-width: 768px) {
    .cmp-banner-header{
        display: none;
    }
}