@import './fonts.scss';

/*Freight Display Font*/
$FBlack: "FreightDispBlack", "Helvetica", "sans-serif";
$FBlackItalic: "FreightDispBlackItalic", "Helvetica", "sans-serif";
$FBook: "FreightTextBook", "Helvetica", "sans-serif";
$FBookItalic: "FreightTextBookItalic", "Helvetica", "sans-serif";
/*National Font*/
$NBlack: "National-Black", "Helvetica", "sans-serif";
$NBlackItalic: "National-BlackItalic", "Helvetica", "sans-serif";
$NBold: "National-Bold", "Helvetica", "sans-serif";
$NBoldItalic: "National-BoldItalic", "Helvetica", "sans-serif";
$NBook: "National-Book", "Helvetica", "sans-serif";
$NBookItalic: "National-BookItalic", "Helvetica", "sans-serif";
$NRegular: "National-Book", "Helvetica", "sans-serif";
$NRegularItalic: "National-BookItalic", "Helvetica", "sans-serif";