@font-face {
  font-family: 'FreightDispBlack';
  src: url('../../fonts/FreightDispBlack.eot');
  src: url('../../fonts/FreightDispBlack.woff') format('woff'),
    url('../../fonts/FreightDispBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: bold;
}

@font-face {
  font-family: 'FreightDispBlackItalic';
  src: url('../../fonts/FreightDispBlackItalic.eot');
  src: url('../../fonts/FreightDispBlackItalic.woff') format('woff'),
    url('../../fonts/FreightDispBlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'FreightTextBook';
  src: url('../../fonts/FreightTextBook.eot');
  src: url('../../fonts/FreightTextBook.woff') format('woff'),
    url('../../fonts/FreightTextBook.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FreightTextBookItalic';
  src: url('../../fonts/FreightTextBookItalic.eot');
  src: url('../../fonts/FreightTextBookItalic.woff') format('woff'),
    url('../../fonts/FreightTextBookItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'National-Black';
  src: url('../../fonts/National-Black.eot');
  src: url('../../fonts/National-Black.woff') format('woff'),
    url('../../fonts/National-Black.otf') format('opentype'),
    url('../../fonts/National-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'National-BlackItalic';
  src: url('../../fonts/National-BlackItalic.eot');
  src: url('../../fonts/National-BlackItalic.woff') format('woff'),
    url('../../fonts/National-BlackItalic.otf') format('opentype'),
    url('../../fonts/National-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
    font-family: 'National-Bold';
    src: url('../../fonts/National-Bold.eot');
    src: url('../../fonts/National-Bold.woff') format('woff'),
      url('../../fonts/National-Bold.otf') format('opentype'),
      url('../../fonts/National-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'National-BoldItalic';
    src: url('../../fonts/National-BoldItalic.eot');
    src: url('../../fonts/National-BoldItalic.woff') format('woff'),
      url('../../fonts/National-BoldItalic.otf') format('opentype'),
      url('../../fonts/National-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
  }

  @font-face {
    font-family: 'National-Book';
    src: url('../../fonts/National-Book.eot');
    src: url('../../fonts/National-Book.woff') format('woff'),
      url('../../fonts/National-Book.otf') format('opentype'),
      url('../../fonts/National-Book.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'National-BookItalic';
    src: url('../../fonts/National-BookItalic.eot');
    src: url('../../fonts/National-BookItalic.woff') format('woff'),
      url('../../fonts/National-BookItalic.otf') format('opentype'),
      url('../../fonts/National-BookItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: 'National-Regular';
    src: url('../../fonts/National-Regular.eot');
    src: url('../../fonts/National-Regular.woff') format('woff'),
      url('../../fonts/National-Regular.otf') format('opentype'),
      url('../../fonts/National-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'National-RegularItalic';
    src: url('../../fonts/National-RegularItalic.eot');
    src: url('../../fonts/National-RegularItalic.woff') format('woff'),
      url('../../fonts/National-RegularItalic.otf') format('opentype'),
      url('../../fonts/National-RegularItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
  }